<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <!-- 自动扫描quick4j包 ,将带有注解的类 纳入spring容器管理 -->
    <context:component-scan base-package="com.wgz"></context:component-scan>
    
    <!-- 引入配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="utf-8" />
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
				<value>classpath:redis.properties</value>
				<value>classpath:job-executor.properties</value>
			</list>
		</property>
	</bean>
	
    <import resource="applicationContext-task.xml"/>
    <import resource="applicationContext-redis.xml"/>
    <!-- job -->
    <!-- <import resource="applicationContext-job.xml"/> -->
    <!-- mq -->
    <!-- <import resource="applicationContext-rabbitmq.xml"/> -->
    <!-- 启动@aspectj的自动代理支持-->
    <aop:aspectj-autoproxy expose-proxy="true"/>
    <!-- 引入bean配置 -->
    <import resource="applicationContext-bean.xml"/>
	
</beans>